*.iml
.gradle/
.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
.kotlin/
keystore.properties
*.jks
*.keystore
!debug.keystore
